.carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.foto-carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

}

img{
    max-height: 100vh;
}

.aboutus-text{
    color: white;
}