.about-hero-container{
    background: url('../../images/IMG_9552.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    object-fit: contain;
}

.content-containers{
    padding-top: 15vh;
}
img{
    height: 90%;
    width: 100%;
    display: flex;
    object-fit: contain;
    float: right;
  }
