.background-contact{
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/IMG_8895.jpg);
    background-size: cover;
}