#contact-container{
    width: 1200px;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    background: white;
    .contact-info{
        background-color: #5904c2;
        flex: 0 1 40%;
        border-radius: 15px;
        padding: 40px;
        color: white;
        display: flex;
        flex-direction: column;
        h4{
            font-size: 2rem;
            font-weight: 500;
            margin: 0;
            margin-bottom: 2rem;
        }
        p{
            color: rgba(255,255,255,.7);
            font-size: 1.2rem;
            font-weight: 300;
            margin-bottom: 2rem;
        }
        .social-media{
            display:flex;
            width:50%;
            justify-content:space-between;
            .iconsize{
                font-size: 50px;
                color: white;
            }
        }
        .icon-text{
            display:flex;
            justify-content:flex-start;
            align-items:center;
            span{
                font-size:1.3rem;
                font-weight:300;
            }
        }
    }
}